@model IEnumerable<StackoverFlow.Web.Models.QuestionListModel>

@{
    ViewBag.Title = "Index";
}

<h2>Question</h2>

<p>
    @Html.ActionLink("Create New", "Question")
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Detail",new{id=item.QuestionId})
            @*Html.DisplayFor(modelItem => item.Title)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink(item.OwnerName,"Profile", "Account", new {id=item.OwnerId},null)
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })
        </td>
    </tr>
}

</table>
